#headerOutput{
    text-align: center;
}

#main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#color {
    font-size: larger;
}

.ani {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    margin-top: -300px;

}