body {
    background-image: url('numbers.png');
}

#header {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

table, th, td{
    border:2px solid black;
    background-color: antiquewhite;
    margin: auto;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td{
    text-align: center;
}

#display{
    text-align: left;
    align-self: left;
}