body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #edc7b7;
    color: #AD3B61
}

h1 {
    text-align: center;
}

#expression {
    margin-left: 450px;
    margin-right: 450px;
    /*border: 5px solid white;*/
    text-align: center;
    color: #123c69;
    background-color: #eee2dc;
}

#aboutSite {
    width:30%;
    margin-left: 150px;
    text-align: left;
    color: #123c69;
    background-color: #eee2dc;
    padding: 5px;
}

#aboutUs {
    width:30%;
    margin-left: 150px;
    text-align: left;
    color: #123c69;
    background-color: #eee2dc;
    padding: 5px;
    margin-top: -350px;
}

#sophyear{
    margin-left: 1000px;
    margin-top: -100px;
    width: 25%;
}

#advait{
    margin-left: 150px;
    margin-top: 50px;
    width: 20%;
}

#kian{
    margin-left: 200px;
    margin-top: -1000px;
    width: 20%;
}